.spline-sans-regular {
  font-family: "Spline Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spline-sans-medium {
  font-family: "Spline Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.spline-sans-bold {
  font-family: "Spline Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}