div.note-container {
  background: #fff9b1;;
}

textarea {
  padding: 5px 10px;
  margin: 0;
  resize: none;
  width: 100%;
  height: 100%;
  background: transparent;
  font-family: 'Spline Sans', sans-serif;
  outline: none;
  box-shadow: none;
  background: none;
  border: none;
}

textarea:focus {
  outline: none;
  box-shadow: none;
  background: none;
  border: none;
}

.title-bar {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}

.title-bar .title {
  flex: 1;
  color: black;
  font-size: 16px;
  font-weight: bold;
  -webkit-app-region: drag;
}

.title-bar .title-bar-buttons {
  display: flex;
  flex-direction: row;
  color: black;
}

.title-bar .title-bar-buttons span.btn {
  padding: 0;
  margin: 0px 5px;
  cursor: pointer !important;
}